*.pyc
*.zip
*.csv
*.log
*.bc
.idea
2000
CSV_Example
Erorrs_file
PDF_Example
TEXT_Example
TEXT_Example.back
TEXT_Example_all
XML_Example
fpdf
fpdf2
test_text
bc.py
test.py
parse_xml.py
pdf_parser.py
to_xml.py